name: coverage

on:
  push:
    paths:
      - 'streamable/**'
      - 'tests/**'
      - '.github/workflows/coverage.yml'

jobs:
  coverage:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.14
        uses: actions/setup-python@v4
        with:
          python-version: '3.14.0-beta.1'
          
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Test with coverage
        run: make venv test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

