name: PyPI

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - rc
    paths:
      - 'version.py'

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install build twine
      - name: Build
        run: python -m build
      - name: Publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.pypi_token }}
        run: |
          twine upload dist/* --skip-existing
      - name: Tag
        run: |
          TAG=$(python -c 'from streamable import __version__; print(__version__)' | sed 's/^/v/')
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git tag -a $TAG -m"Release $TAG"
          git push origin $TAG --force
