name: typing

on:
  push:
    paths:
      - 'streamable/**'
      - 'tests/**'
      - '.github/workflows/type-check.yml'

jobs:
  typing:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: mypy
      run: make venv type-check
