name: typing

on:
  push:
    paths:
      - 'streamable/**'
      - 'tests/**'
      - '.github/workflows/typing.yml'

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: mypy
      run: make venv type-check
