name: unittest

on:
  push:
    paths:
      - 'streamable/**'
      - 'tests/**'
      - '.github/workflows/unittest.yml'

jobs:
  unittest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7.17', '3.8.18', '3.9.18', '3.10.13', '3.11.7', '3.12.1']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: unittest
        run: |
          python -m pip install -r requirements.txt
          python -m unittest
